<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970811725126-ionhecjaoss2gh4accikq4ol26428su9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970811725126-ionhecjaoss2gh4accikq4ol26428su9</string>
	<key>API_KEY</key>
	<string>AIzaSyBi_WoeaM0GEupEdryRSmBqXzpPMZhNyHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>970811725126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarf</string>
	<key>PROJECT_ID</key>
	<string>sarfapp-62651</string>
	<key>STORAGE_BUCKET</key>
	<string>sarfapp-62651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970811725126:ios:b3f7345842387ec8e60147</string>
</dict>
</plist>